@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#modal::backdrop{
    background-color: rgba(59, 15, 57, 0.795);
}

#modal{
    width: 90%;
    height: 90%;
    background-color: #46143f;
    border-color: rgba(255, 255, 255, 0.363);
}
#modal .icono1{
    width: 8%;
    margin-left: 10%;
}
#modal .icono2{
    position: absolute;
    width: 8%;
    margin-left: 10%;
}
#modal h1{
    position: absolute;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: -5%;
    font-size: 15px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
#modal h2{
    position: absolute;
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 15px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}